<ul class="justify-content-center" id="noticiasDestacadas">
    <li *ngFor="let item of ListadoNoticiasDestacadas">
        <div class= "m-5 pb-3">
            <img src="../../assets/{{item.imagen}}" width="300" height="170" alt="{{item.titulo}}">
            <div class="pl-3 pr-3">
                <p id="{{item.color}}" >{{item.titulo}}</p>
                <p>{{item.texto}}</p>
                <div class="col text-center">
                    <button [routerLink]="['/noticiaDestacada1']" routerLinkActive="router-link-active"   id="boton-{{item.color}}" class="btn btn-primary">Leer Mas</button>
                </div>
                
            </div>    
        </div>    
    </li>
</ul>

<ul class="justify-content-center" id="noticias">
    <li *ngFor="let item of ListaNoticiasNormales">
        <div class= "m-5 pb-3">
            <img src="../../assets/{{item.imagen}}" width="300" height="170" alt="{{item.titulo}}">
            <div class="pl-3 pr-3">
                <p id="titulo" class="text-center">{{item.titulo}}</p>
                <p>{{item.texto}}</p>
                <div class="col text-center">
                    <button [routerLink]="['/noticiaDestacada1']" routerLinkActive="router-link-active" class="btn btn-light">Leer Mas</button>
                </div>
                
            </div>
        </div>    
    </li>
</ul>






